<!DOCTYPE html>
<html>

<!-- start: HEAD -->

<head>
    <title>IT'Z LXP</title>
    <!-- start: META -->
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- end: META -->

    <!-- start: CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/sub.css" />
    <!-- end: CSS -->

    <!-- start: JS-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/sub.js"></script>
    <!-- end: JS-->

</head>
<!-- end: HEAD -->

<!-- start: BODY-->

<body>
    <div id="wrap">
        <header class="clearfix">
            <div class="container">
                <div class="logo"><a href="main.html"><img src="img/logo.png" /></a></div>
                <ul class="menu">
                    <li><a href="main.html">서비스 소개</a></li>
                    <li><a href="main.html">도입 비용</a></li>
                </ul>
                <ul class="user">
                    <li><button class="btn whiteBtn">로그인</button></li>
                    <li><button class="btn purpleBtn">회원가입</button></li>
                </ul>
            </div>
        </header>
        <div class="subVisual">
            <h1>로그인</h1>
        </div>
        <div class="subWrap">
            <div class="subContainer">
                <form>
                    <div class="form-group">
                        <label for="">아이디</label>
                        <input type="id" class="form-control" id="" placeholder="아이디">
                    </div>
                    <div class="form-group">
                        <label for="">비밀번호</label>
                        <input type="password" class="form-control" id="" placeholder="비밀번호">
                    </div>
                    <div class="btnWrap">
                        <button type="submit" class="btn purpleBtn">로그인</button>
                        <button type="submit" class="btn blackBtn">회원가입</button>
                    </div>
                    
                </form>
            </div>
        </div>
        <div class="pageTop"><a href="#"><img src="img/arrow_img.png"></a></div>
    </div>
</body>
<!-- end: BODY-->

</html>
