<!DOCTYPE html>
<html>

<!-- start: HEAD -->

<head>
    <title>IT'Z LXP</title>
    <!-- start: META -->
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- end: META -->

    <!-- start: CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/sub.css" />
    <!-- end: CSS -->

    <!-- start: JS-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/sub.js"></script>
    <!-- end: JS-->

</head>
<!-- end: HEAD -->

<!-- start: BODY-->

<body>
    <div id="wrap">
        <!--s : header-->
        <header class="clearfix">
            <div class="container">
                <div class="mo_btn"><img src="img/mo_btn.png" /></div>
                <div class="logo"><a href=""><img src="img/logo.png" /></a></div>
                <ul class="pc_menu">
                    <li><a href="#service">서비스 소개</a></li>
                    <li><a href="#price">도입 비용</a></li>
                </ul>
                <div class="mo_menu">
                    <div class="close_btn"><img src="img/close_btn.png" /></div>
                    <ul class="">
                        <li><a href="#service">서비스 소개</a></li>
                        <li><a href="#price">도입 비용</a></li>
                    </ul>
                </div>
                <ul class="user">
                    <li><button class="btn whiteBtn">로그인</button></li>
                    <li><button class="btn purpleBtn">회원가입</button></li>
                </ul>
            </div>
        </header>
        <!--e : header-->
        <!--s: section-->
        <section>
            <div class="subVisual">
                <h1>내 테넌트</h1>
            </div>
            <div class="subWrap">
                <div class="container">
                    <div class="table100">
                        <table>
                            <thead>
                                <tr class="table100-head">
                                    <th class="column1">기관명</th>
                                    <th class="column2">구독프로그램</th>
                                    <th class="column3">실시간 사용요금 (이용기간)</th>
                                    <th class="column4">해지예상금액</th>
                                    <th class="column5">상태</th>
                                    <th class="column6">관리</th>
                                    <th class="column7">관리</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="column1">주식회사 이타즈</td>
                                    <td class="column2">베이직 ver.</td>
                                    <td class="column3"><p class="blackText">110,000,000</p>(2021.11.10~2022.10.09)</td>
                                    <td class="column4"><p class="blackText">800,000</p></td>
                                    <td class="column5"><p class="redText">만료</p><button class="btn redBtn">연장 / 업그레이드</button></td>
                                    <td class="column6"><button class="btn whiteBtn">테넌트 바로가기</button></td>
                                    <th class="column7">관리</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <!--e: section-->

        <div class="pageTop"><a href="#"><img src="img/arrow_img.png"></a></div>

    </div>
</body>
<!-- end: BODY-->

</html>
