<!DOCTYPE html>
<html lang="ko"
	xmlns="http://www.w3.org/1999/xhtml"
 	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	layout:decorator="layout/defaultLayout">
<!-- start: HEAD -->

<head>
<script type="text/javascript">
	$(document).ready(function(){
		$("#createTenant").click(function(){
			window.location.href="/tenant";
		});
	});
</script>
   
</head>
<!-- end: HEAD -->

<!-- start: BODY-->

<body>
      <th:block layout:fragment="content">
        <!--e : header-->
        <!--s: section-->
        <section>
            <div class="subVisual">
                <h1>내 테넌트</h1>
            </div>
            <div class="subWrap">
                <div class="container">
                    <div class="table100">
						<th:block th:if="${#lists.isEmpty(tenantList)}">
							<div class="title">
								<button class="btn purpleBtn" id="createTenant">테넌트 생성</button>
				            </div>
						</th:block>
						<th:block th:unless="${#lists.isEmpty(tenantList)}">
	                        <table>
	                            <thead>
	                                <tr class="table100-head">
	                                    <th class="column1">기관명</th>
	                                    <th class="column2">구독프로그램</th>
	                                    <th class="column3">실시간 사용요금 (이용기간)</th>
	                                    <th class="column4">해지예상금액</th>
	                                    <th class="column5">상태</th>
	                                    <th class="column6">관리</th>
	                                    <th class="column7">관리</th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                <tr>
	                                    <td class="column1">주식회사 이타즈</td>
	                                    <td class="column2">베이직 ver.</td>
	                                    <td class="column3"><p class="blackText">110,000,000</p>(2021.11.10~2022.10.09)</td>
	                                    <td class="column4"><p class="blackText">800,000</p></td>
	                                    <td class="column5"><p class="redText">만료</p><button class="btn redBtn">연장 / 업그레이드</button></td>
	                                    <td class="column6"><button class="btn whiteBtn">테넌트 바로가기</button></td>
	                                    <th class="column7">관리</th>
	                                </tr>
	                            </tbody>
	                        </table>
                        </th:block>
                    </div>
                </div>
            </div>
        </section>
        <!--e: section-->
 	</th:block>
</body>
<!-- end: BODY-->

</html>
