<!DOCTYPE html>
<html lang="ko"
	xmlns="http://www.w3.org/1999/xhtml"
 	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	layout:decorator="layout/defaultLayout">
<!-- start: HEAD -->

<head>
<!--     <title>IT'Z LXP</title> -->
<!--     start: META -->
<!--     [if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif] -->
<!--     <meta charset="utf-8" /> -->
<!--     <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"> -->
<!--     <meta name="apple-mobile-web-app-capable" content="yes"> -->
<!--     <meta name="apple-mobile-web-app-status-bar-style" content="black"> -->
<!--     <meta content="" name="description" /> -->
<!--     <meta content="" name="author" /> -->
<!--     end: META -->

<!--     start: CSS -->
<!--     <link rel="stylesheet" href="css/bootstrap.min.css" /> -->
<!--     <link rel="stylesheet" href="css/common.css" /> -->
<!--     <link rel="stylesheet" href="css/sub.css" /> -->
<!--     end: CSS -->

<!--     start: JS -->
<!--     <script src="js/jquery.min.js"></script> -->
<!--     <script src="js/bootstrap.min.js"></script> -->
<!--     <script src="js/main.js"></script> -->
<!--     <script src="js/sub.js"></script> -->
<!--     end: JS -->
	<style>
		.selectBtnColor {
			background: #E2E2E2 !important;
		}
	</style>
	<script th:inline="javascript">
    	$(document).ready(function(){
    		setAccountData();
    		
    		$("input[type=radio][name='options']").change(function () {
    			setAccountData();
    	    });
    		
    		$("button[name='paymentType']").click(function () {
    			$(".selectBtnColor").removeClass("selectBtnColor");
    			
    			$(this).addClass("selectBtnColor");
    		});
    		
    		$(document).on('click', '#creditCard, #acTrans', function () {
    			$(".selectBtnColor").removeClass("selectBtnColor");
    			$(this).addClass("selectBtnColor");
    		});		
    		
    		$("#paymentBtn").click(function () {
    			var tenantId = $("#tenantId").val();
    			
    			if (!tenantId) {
    				alert("테넌트를 선택해주세요");
    			} else {
    				/*<![CDATA[*/
        			var svcId = /*[[${svcId}]]*/ 'default';
    				var serviceFareList = /*[[${serviceFareList}]]*/ 'default';
        			/*]]*/
    				let thisIdx = $("input[type=radio][name=options]:checked").attr("data-idx");
        			let fareData = serviceFareList[thisIdx];
        			fareData.tenantId = tenantId;
        			fareData.useAt = 0;
        			
        			$.ajax({
        				url: "/service/insert",
        				data: JSON.stringify(fareData),
        				type: "POST",
        				dataType: "json",
        				contentType: 'application/json'
        			}).done(function (res) {
        				alert(res.message);
        			}).fail(function(res, status, error) {
        				alert(res.responseJSON.message);
        			});
    			}
    		});
    		
    		function setAccountData() {
    			/*<![CDATA[*/
				var serviceFareList = /*[[${serviceFareList}]]*/ 'default';
    			/*]]*/
    			var amount = serviceFareList[$("input[type=radio][name=options]:checked").attr("data-idx")].fareAmount;
        		
        		$("#sumAccount").text(String(Math.ceil(amount*0.9)).replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,') + "원");
        		$("#tax").text(String(Math.ceil(amount/10)).replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,') + "원");
        		$("#reaultAccount").text(String(amount).replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,') + "원");
    		}
    	});
    </script>
</head>
<!-- end: HEAD -->

<!-- start: BODY-->

<body>
<!--     <div id="wrap"> -->
<!--         s : header -->
<!--         <header class="clearfix"> -->
<!--             <div class="container"> -->
<!--                 <div class="mo_btn"><img src="img/mo_btn.png" /></div> -->
<!--                 <div class="logo"><a href=""><img src="img/logo.png" /></a></div> -->
<!--                 <ul class="pc_menu"> -->
<!--                     <li><a href="#service">서비스 소개</a></li> -->
<!--                     <li><a href="#price">도입 비용</a></li> -->
<!--                 </ul> -->
<!--                 <div class="mo_menu"> -->
<!--                     <div class="close_btn"><img src="img/close_btn.png" /></div> -->
<!--                     <ul class=""> -->
<!--                         <li><a href="#service">서비스 소개</a></li> -->
<!--                         <li><a href="#price">도입 비용</a></li> -->
<!--                     </ul> -->
<!--                 </div> -->
<!--                 <ul class="user"> -->
<!--                     <li><button class="btn whiteBtn">로그아웃</button></li> -->
<!--                     <li><button class="btn purpleBtn">내 테넌트</button></li> -->
<!--                 </ul> -->
<!--             </div> -->
<!--         </header> -->
        <!--e : header-->
        <!--s: section-->
    <th:block layout:fragment="content">
        <section>
            <div class="subVisual">
                <h1>서비스 결제</h1>
            </div>
            <div class="subWrap">
                <div class="subContainer">
	                <div class="form-group">
	                    <label for="">테넌트 선택</label>
	                    <select class="form-control" id="tenantId">
	                        <option value="">테넌트를 선택해주세요.</option>
	                        <option th:each="tenant : ${tenantList}" th:value="${tenant.tenantId}" th:text="${tenant?.tenantNmKor}"></option>
	                    </select>
	                </div>
	                <div class="form-group selectList">
	                    <ul class="clearfix">
	                    	<li class="radio" th:each="fareCode, index : ${serviceFareList}">
	                            <label>
	                                <input type="radio" name="options" id="optionsRadios" th:value="${fareCode.fareCode}" 
	                                	th:text="${fareCode.fareSeCodeNm}" th:checked="${fareCode.fareSeCode == selFareSeCode}" th:data-idx="${index.index}">  
	                                <p th:text="${#numbers.formatInteger(fareCode.fareAmount, 3, 'COMMA') + '원 / ' + fareCode.fareUnitCodeNm}"/>
	                            </label>
	                        </li>
	                    	<!--
	                        <li class="radio">
	                            <label>
	                                <input type="radio" name="options" id="optionsRadios" value="option" checked> 연장안함 
	                                <p class="">30,000원 / 월</p>
	                            </label>
	                        </li>
	                        <li class="radio">
	                            <label>
	                                <input type="radio" name="options" id="optionsRadios" value="option"> 1개월 (정기결제) 
	                                <p class="lineTwo"><span class="fake">30,000원</span><br><span class="redText">28,000원</span> / 월</p>
	                            </label>
	                        </li>
	                        <li class="radio">
	                            <label>
	                                <input type="radio" name="options" id="optionsRadios" value="option"> 1년 (정기결제) 
	                                <p class="lineTwo"><span class="fake">360,000원</span><br><span class="redText">300,000원</span> / 월
	                            </label>
	                        </li>
	                        -->
	                    </ul>
	                </div>
	                <div class="charge">
	                    <ul class="clearfix">
	                        <li>
	                            <p>합계</p><span id="sumAccount"></span>
	                        </li>
	                        <li>
	                            <p>부가가치세</p><span id="tax"></span>
	                        </li>
	                        <li class="realPrice">
	                            <p class="blackText">결제 금액</p><span class="redText" id="reaultAccount"></span>
	                        </li>
	                    </ul>
	                    <div class="btn-group">
	                    	<!-- 넣을곳이 없어서 동작하는게 없음 -->
	                        <button class="btn" id="creditCard">신용카드</button>
	                        <button class="btn" id="acTrans">실시간 계좌이체</button>
	                    </div>
	                </div>
	                <div class="btnWrap">
	                    <button type="button" class="btn purpleBtn" id="paymentBtn">결제하기</button>
	                </div>
                </div>
            </div>
        </section>
        <!--e: section-->

<!--         <div class="pageTop"><a href="#"><img src="img/arrow_img.png"></a></div> -->
<!--         <div class="overlay"></div> -->

<!--     </div> -->
	</th:block>
</body>
<!-- end: BODY-->

</html>
