<!DOCTYPE html>
<html lang="ko"
	xmlns="http://www.w3.org/1999/xhtml"
 	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	layout:decorator="layout/defaultLayout">

<!-- start: HEAD -->

<head>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){

			//아이디(이메일) 중복 체크
			$("#tenantCl").change(function(){
				$.ajax({
					url: "/tenantDetailClList",
					method: "GET",
					dataType: "json",
					data : {"tenantCl":$("#tenantCl").val()},
					success: function (cdoeList) {
						let html='<option value="">테넌트 상세 분류를 선택해주세요.</option>';
						$.each(cdoeList, function(i, data){
							html += '<option value='+ data.code +'>' + data.codeNmKor + "</option>"; 
						});
						$("#tenantDtlCl").empty().append(html);
					}
				});
			});
			
			//우편번호 검색
			$("#searchPostCode").click(function(){
				new daum.Postcode({
					oncomplete: function(data) {
						$('input[name=zipNo]').val(data.zonecode);
						$('input[name=address]').val(data.address + " ");
						$('input[name=address]').focus();
					}
				}).open();
			});
		});
		

	</script>
</head>
<!-- end: HEAD -->

<!-- start: BODY-->

<body>
    <th:block layout:fragment="content">
        <!--s: section-->
        <section>
            <div class="subVisual">
                <h1>테넌트 생성</h1>
            </div>
            <div class="subWrap">
                <div class="subContainer">
                    <form>
                        <div class="form-group">
                            <label for="">테넌트 분류</label>
                            <select class="form-control" name="tenantCl" id="tenantCl">
                                <option>테넌트 분류를 선택해주세요.</option>
                            	<option  th:each="item : ${tenantClList}" th:value="${item.code}" th:text="${item.codeNmKor}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">테넌트 상세 분류</label>
                            <select class="form-control" name="tenantDtlCl" id="tenantDtlCl">
                                <option>테넌트 상세 분류를 선택해주세요.</option>
                            	<option  th:each="item : ${tenantDivList}" th:value="${item.code}" th:text="${item.codeNmKor}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">테넌트 국문명</label>
                            <input type="text" class="form-control" id="tenantNmKor">
                        </div>
                        <div class="form-group">
                            <label for="">테넌트 영문명</label>
                            <input type="text" class="form-control" id="tenantNmKor">
                        </div>
                        <div class="form-group">
                            <label for="">테넌트 대표 아이디 ( 테넌트 서브 도메인 사용 )</label>
                            <input type="text" class="form-control" id="tenantNmKor">
                        </div>
                        <div class="form-group check-form">
                            <label for="">테넌트 주소</label>
                            <input type="text" class="form-control" style="width:200px;" id="zipNo" name="zipNo">
                            <button type="button" class="btn purpleBtn" id="searchPostCode">주소찾기</button>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="address" name="address">
                        </div>
                        <div class="form-group">
                            <label for="">대표 전화번호</label>
                            <input type="text" class="form-control" id="reprsntTelNo" name="reprsntTelNo">
                        </div>
                        <div class="form-group">
                            <label for="">테넌트 담당자 명</label>
                            <input type="text" class="form-control" id="chargerNm" name="chargerNm">
                        </div>
                        <div class="form-group">
                            <label for="">테넌트 담당자 ID</label>
                            <input type="text" class="form-control" id="chargerId" name="chargerId">
                        </div>
                        <div class="form-group">
                            <label for="">테넌트 담당자 휴대전화번호</label>
                            <input type="text" class="form-control" id="chargerMobile" name="chargerMobile">
                        </div>
                       <!-- <div class="form-group check-form">
                            <label for="">휴대폰 번호</label>
                            <input type="text" class="form-control" id="" placeholder="">
                            <button type="button" class="btn purpleBtn">인증번호 발송</button>
                        </div>
                        <div class="form-group check-form">
                            <input type="text" class="form-control" id="" placeholder="">
                            <button type="" class="btn purpleBtn">인증번호 확인</button>
                        </div> -->
                        <div class="btnWrap">
                            <button type="button" class="btn purpleBtn" id="saveBtn">테넌트 생성</button>
                            <button type="button" class="btn blackBtn" id="cancalBtn">취소</button>
                        </div>

                    </form>
                </div>
            </div>
        </section>
        <!--e: section-->

 	</th:block>
</body>
<!-- end: BODY-->

</html>
