<!DOCTYPE html>
<html>

<!-- start: HEAD -->

<head>
    <title>IT'Z LXP</title>
    <!-- start: META -->
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- end: META -->

    <!-- start: CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/sub.css" />
    <!-- end: CSS -->

    <!-- start: JS-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/sub.js"></script>
    <!-- end: JS-->

</head>
<!-- end: HEAD -->

<!-- start: BODY-->

<body>
    <div id="wrap">
        <!--s : header-->
        <header class="clearfix">
            <div class="container">
                <div class="mo_btn"><img src="img/mo_btn.png" /></div>
                <div class="logo"><a href=""><img src="img/logo.png" /></a></div>
                <ul class="pc_menu">
                    <li><a href="#service">서비스 소개</a></li>
                    <li><a href="#price">도입 비용</a></li>
                </ul>
                <div class="mo_menu">
                    <div class="close_btn"><img src="img/close_btn.png" /></div>
                    <ul class="">
                        <li><a href="#service">서비스 소개</a></li>
                        <li><a href="#price">도입 비용</a></li>
                    </ul>
                </div>
                <ul class="user">
                    <li><button class="btn whiteBtn">로그인</button></li>
                    <li><button class="btn purpleBtn">회원가입</button></li>
                </ul>
            </div>
        </header>
        <!--e : header-->
        <!--s: section-->
        <section>
            <div class="subVisual">
                <h1>테넌트 생성</h1>
            </div>
            <div class="subWrap">
                <div class="subContainer">
                    <form>
                        <div class="form-group">
                            <label for="">기관 주소</label>
                            <input type="" class="form-control" id="" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="">최고 관리자명</label>
                            <input type="" class="form-control" id="" placeholder="테넌트명을 입력하세요.">
                        </div>
                        <div class="form-group check-form">
                            <label for="">휴대폰 번호</label>
                            <input type="" class="form-control" id="" placeholder="">
                            <button type="" class="btn purpleBtn">인증번호 발송</button>
                        </div>
                        <div class="form-group check-form">
                            <input type="" class="form-control" id="" placeholder="">
                            <button type="" class="btn purpleBtn">인증번호 확인</button>
                        </div>
                        <div class="btnWrap">
                            <button type="" class="btn purpleBtn">테넌트 생성</button>
                            <button type="" class="btn blackBtn">취소</button>
                        </div>

                    </form>
                </div>
            </div>
        </section>
        <!--e: section-->

        <div class="pageTop"><a href="#"><img src="img/arrow_img.png"></a></div>

    </div>
</body>
<!-- end: BODY-->

</html>
