<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.itaz.lms.portal.mapper.PortalMapper">

	<select id="selectCommCodeList" parameterType="String"  resultType="PortalVO">
		/*PortalMapper.selectCommCodeList bnso*/
		SELECT
			CODE
			,CODE_NM_kOR
		FROM T_CMMN_BASIS_CODE
		WHERE PARENT_CODE = #{code}
		AND USE_AT = '1'
	</select>

	 <insert id="insertUserInformation" parameterType="PortalVO">
	 	/*PortalMapper.insertUserInformation bnso*/
	 	INSERT INTO T_USER_INFORMATION
	 	(
		 	user_name					/*사용자 명*/
			,user_id					/*사용자 id*/
			,password					/*패스워드*/
			,global_administrator_yn	/*전역관리자 여부*/
			,tel_no						/**/
			,crtfc_sttus				/*인증상태*/
			,creat_id
			,creat_dt
			,creat_ip
		)
		VALUES
		(
			#{userName}
			,#{userId}
			,#{password}
			,'0'
			,#{telNo}
			,'C027002'
			,#{userId}
			,now()
			,#{creatIp}
		)
	 </insert>

	 <select id="selectUserCheck" parameterType="String" resultType="int">
		/*PortalMapper.selectCheckDuplicateEmail bnso*/
	 	SELECT COUNT(*)
	 	FROM T_USER_INFORMATION
	 	WHERE USER_ID = #{userId}
	 </select>


	 <select id="selectUserInfo" parameterType="String" resultType="PortalVO">
		/*PortalMapper.selectUserInfo bnso*/
	 	SELECT
	 		USER_NO
	 		,USER_ID
	 		,PASSWORD
	 		,USER_NAME
	 		,TEL_NO
	 	FROM T_USER_INFORMATION
	 	WHERE USER_ID = #{userId}
	 </select>

	 <insert id="insertTenantInfo" parameterType="PortalVO">
	 
		<selectKey keyProperty="tenantId" resultType="string" order="BEFORE">
	        SELECT uuid() as tenantId
	    </selectKey>
	    
		INSERT INTO T_TENANT
		(
			 TENANT_ID
	 		 ,TENANT_NM_KOR
			 ,TENANT_CL
			 ,TENANT_DTL_CL
			 ,TENANT_NM_ENG
			 ,TENANT_REPRSNT_ID
			 ,REPRSNT_EMAIL
			 ,ZIP_NO
			 ,ADDRESS
			 ,REPRSNT_TELNO
			 ,CHARGER_MOBILE
			 ,CHARGER_ID
			 ,CHARGER_NM
		)
		VALUES
		(
			#{tenantId}
			,#{tenantNmKor}
			,#{tenantCl}
			,#{tenantDtlCl}
			,#{tenantNmEng}
			,#{tenantReprsntId}
			,#{reprsntEmail}
			,#{zipNo}
			,#{address}
			,#{reprsntTelno}
			,#{chargerMobile}
			,#{chargerId}
			,#{chargerNm}
		)
	</insert>
	
	<insert id="insertTenantUser">
		INSERT INTO T_TENANT_USER 
		(
		      USER_NO
			, TENANT_ID
			, ASSIGN_DATETIME
			, TENANT_ADMINISTRATOR_YN
			, REGISTRATION_TENANT_YN
			, TENANT_ESNTL_ID
			, CREAT_ID
			, CREAT_DT
			, CREAT_IP
			, UPDT_ID
			, UPDT_DT
			, UPDT_IP
		)
		VALUES
		(
		      #{userNo}
		    , #{tenantId}
		    , NULL
		    , 1
		    , 0
		    , NULL
		    , #{userId}
		    , SYSDATE()
		    , #{creatIp}
		    , #{userId}
		    , SYSDATE()
		    , #{creatIp}
		)
	 </insert>
	 
	 <select id="selectMyTenantList" parameterType="String" resultType="PortalVO">
	 	/*PortalMapper.selectMyTenantList 나의 테넌트 목록 조회 bnso*/
		select
			tt.TENANT_ID
			,tt.TENANT_NM_KOR
			,tt.TENANT_CL
			,(SELECT CODE_NM_KOR FROM t_cmmn_basis_code WHERE CODE = TT.TENANT_CL) AS TENANT_CL_NM
			,tt.TENANT_DTL_CL
			,(SELECT CODE_NM_KOR FROM t_cmmn_basis_code WHERE CODE = TT.TENANT_DTL_CL) AS TENANT_DTL_CL_NM
			,tt.TENANT_NM_KOR
			,tt.TENANT_NM_ENG
			,tt.TENANT_REPRSNT_ID
			,tt.REPRSNT_EMAIL
			,tt.ZIP_NO
			,tt.ADDRESS
			,tt.REPRSNT_TELNO
			,tt.CHARGER_MOBILE
			,tt.CHARGER_ID
			,tt.CHARGER_NM
		from t_tenant tt
			,t_tenant_user ttu
			,t_user_information tui
		where TT.TENANT_ID = TTU.TENANT_ID
		and ttu.USER_NO  = tui.user_no
		and TUI.USER_ID = #{userId}
		<if test="tenantId != '' and tenantId != null">and tt.TENANT_ID = #{tenantId}</if>
<!-- userId userNo 비교해서 아무것도 안나옴		and TUI.USER_NO = #{userId} -->
	 </select>

	 <select id="selectMyTenantServiceList" parameterType="String" resultType="TenantSvcVO">
	 	/*PortalMapper.selectUserInfo 나의 테넌트에서 신청한 서비스 목록 조회 bnso*/
<!-- 	 	select * from t_tenant_svc tts -->
		SELECT A.TENANT_ID
		     , A.SVC_ID 
		     , B.SVC_NM_KOR 
		     , C.FARE_SE_CODE
		     , E.CODE_NM_KOR AS FARE_SE_CODE_NM
		     , A.FARE_AMOUNT
		     , IFNULL(DATE_FORMAT(A.COL, '%Y-%m-%d'), '') AS START_DT
		     , IFNULL(DATE_FORMAT(CASE WHEN C.FARE_UNIT_CODE = 'C015001' THEN DATE_ADD(A.COL, INTERVAL 1 YEAR) 
		                               WHEN C.FARE_UNIT_CODE = 'C015002' THEN DATE_ADD(A.COL, INTERVAL 1 MONTH) 
		                               ELSE NULL END, '%Y-%m-%d'), '') AS END_DT
		     , C.FARE_UNIT_CODE 
		     , A.USE_AT 
		  FROM T_TENANT_SVC A
		 INNER JOIN T_SVC_MASTER B
		    ON A.SVC_ID = B.SVC_ID 
		 INNER JOIN T_SVC_FARE C
		    ON A.SVC_ID = C.SVC_ID 
		   AND A.FARE_CODE = C.FARE_CODE 
		 INNER JOIN T_TENANT_USER D
		    ON A.TENANT_ID = D.TENANT_ID 
		  LEFT OUTER JOIN T_CMMN_BASIS_CODE E
		    ON C.FARE_SE_CODE = E.CODE 
		 WHERE D.USER_NO = #{userNo}
	 </select>
	 
	 <select id="selectServiceList" parameterType="String" resultType="ServiceFareVO">
	 	/*PortalMapper.selectServiceList 메인페이지 서비스 과금 조회 gjahn*/
	 	SELECT A.SVC_ID
		     , A.SVC_SE_CODE 
		     , A.SVC_ATRB_CODE 
		     , B.FARE_SE_CODE
		     , B.FARE_SE_CODE_NM
		     , B.YEAR_ACCOUNT
		     , B.MONTH_ACCOUNT
		  FROM T_SVC_MASTER A
		 INNER JOIN (
		                SELECT SA.SVC_ID
		                     , SA.FARE_SE_CODE
		                     , MAX(SB.CODE_NM_KOR) as FARE_SE_CODE_NM 
		                     , MAX(CASE WHEN SA.FARE_UNIT_CODE = 'C015002' THEN SA.FARE_ACCOUNT ELSE 0 END) AS MONTH_ACCOUNT
		                     , MAX(CASE WHEN SA.FARE_UNIT_CODE = 'C015001' THEN SA.FARE_ACCOUNT ELSE 0 END) AS YEAR_ACCOUNT
		                     , MAX(SB.SORT_NO) AS SORT_NO
		                  FROM T_SVC_FARE SA
		                 INNER JOIN T_CMMN_BASIS_CODE SB 
		                    ON SA.FARE_SE_CODE = SB.CODE 
		                 WHERE SVC_ID = #{svcId}
		                 GROUP BY SVC_ID, FARE_SE_CODE
		            ) B
		    ON A.SVC_ID = B.SVC_ID
		 ORDER BY B.SORT_NO
	 </select>
	 
	 <select id="selectMyTenantComboList" parameterType="String" resultType="PortalVO">
	 	/*PortalMapper.selectMyTenantComboList 서비스결제 테넌트 콤보조회 gjahn*/
	 	SELECT A.TENANT_ID
			 , A.TENANT_NM_KOR
		  FROM T_TENANT A 
		 INNER JOIN T_TENANT_USER B 
		    ON A.TENANT_ID = B.TENANT_ID 
		 INNER JOIN T_USER_INFORMATION C 
		    ON B.USER_NO = C.USER_NO 
		 WHERE C.USER_ID = #{userId}
	 </select>
	 
	 <select id="selectServiceFareList" parameterType="String" resultType="TenantSvcVO">
	 	/*PortalMapper.selectServiceList 메인페이지 서비스 과금 조회 gjahn*/
	 	SELECT A.SVC_ID
		     , A.SVC_SE_CODE 
		     , A.SVC_ATRB_CODE 
		     , B.FARE_SE_CODE 
		     , B.FARE_CODE
		     , C.CODE_NM_KOR AS FARE_SE_CODE_NM
		     , B.FARE_UNIT_CODE 
		     , D.CODE_NM_KOR AS FARE_UNIT_CODE_NM
		     , B.FARE_ACCOUNT AS FARE_AMOUNT 
		  FROM T_SVC_MASTER A
		 INNER JOIN T_SVC_FARE B
		    ON A.SVC_ID = B.SVC_ID
		 INNER JOIN T_CMMN_BASIS_CODE C 
		    ON B.FARE_SE_CODE = C.CODE
		 INNER JOIN T_CMMN_BASIS_CODE D
		    ON B.FARE_UNIT_CODE = D.CODE
		 WHERE A.SVC_ID = #{svcId}
		 ORDER BY B.FARE_SE_CODE, B.FARE_UNIT_CODE
	 </select>
	 
	 <insert id="tenantServiceInsert">
	 	/*PortalMapper.tenantServiceIns 서비스결제 저장 gjahn*/
	 	INSERT INTO T_TENANT_SVC 
		(
		      TENANT_ID
		    , SVC_ID
		    , SVC_SE_CODE
		    , SVC_ATRB_CODE
		    , FARE_CODE
		    , FARE_UNIT_CODE
		    , FARE_AMOUNT
		    , USE_AT
		    , CREAT_ID
		    , CREAT_DT
		    , CREAT_IP
		    , UPDT_ID
		    , UPDT_DT
		    , UPDT_IP
		)
		VALUES
		(
		      #{tenantId}
		    , #{svcId}
		    , #{svcSeCode}
		    , #{svcAtrbCode}
		    , #{fareCode}
		    , #{fareUnitCode}
		    , #{fareAmount}
		    , #{useAt}
		    , #{creatId}
		    , sysdate()
		    , #{creatIp}
		    , #{creatId}
		    , sysdate()
		    , #{creatIp}
		) 	
	 </insert>
	  
	  <update id="updateUserInfo">
  	      UPDATE T_USER_INFORMATION
  	         SET PASSWORD = #{password}
  	           , USER_NAME = #{userName}
  	           , TEL_NO = #{telNo}
  	           , UPDT_ID = #{userId}
  	           , UPDT_DT = SYSDATE()
  	           , UPDT_IP = #{creatIp}
  	       WHERE USER_NO = #{userNo}
	  </update>
	  
	  <update id="updateTenantInfo">
		  UPDATE T_TENANT
			 SET TENANT_CL = #{tenantCl}
			   , TENANT_DTL_CL = #{tenantDtlCl}
			   , TENANT_NM_KOR = #{tenantNmKor}
			   , TENANT_NM_ENG = #{tenantNmEng}
			   , ZIP_NO = #{zipNo}
			   , ADDRESS = #{address}
			   , REPRSNT_TELNO = #{reprsntTelno}
			   , CHARGER_MOBILE = #{chargerMobile}
			   , CHARGER_NM = #{chargerNm}
			   , UPDT_ID = #{userId}
			   , UPDT_DT = SYSDATE()
			   , UPDT_IP = #{creatIp}
		   WHERE TENANT_ID = #{tenantId}
	  </update>
</mapper>